/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Styles */
:root{
    --lato: 'Lato', sans-serif;
    --robo: 'Roboto', sans-serif;
    --bla: #333333;
    --ash: #8e8e8e;
    --whi: #ffffff;
}
body {
    font-family: var(--robo);
    font-size: 16px;
    font-weight: 400;
    color: var(--ash);
}
/* .lh_30{
    line-height: 30px;
}
.lh_27{
    line-height: 27px;
} */
/* Global CSS ends here */

/* Header start here */
header{
    padding: 10px 0;
}

.c_nav{

}
.logo{}
.nt:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 1;
}
.c_h1{
    font-family: var(--lato);
    font-size: 30px;
    font-weight: 400;
    color: var(--bla);
}

.menu{}
.menu li a {
    font-family: var(--lato) !important;
    color: var(--ash) !important;
    padding: 0 15px !important;
}
.menu li a:hover{
    color: var(--bla) !important;
}
.s_search{

}
.s_btn{
    
}
.s_btn:after{
    display: none;
}
.si{
    margin-left: 0 0 0 10px;
    color: var(--ash) !important;
    transition: color 0.33s linear;
   
}

.si:hover {
    color: var(--bla) !important;
}

.sdm{
    width: 400px;
    padding: 20px 0 20px 10px;
    border-radius: 0;
}
.sdm[data-bs-popper] {
    top: 68px;
    left: -370px;
    margin-top: 0;
}
.sdm input{
    width: 87%;
    border: 0;
}
.sdm input:focus{
    outline: none;
}
.sdm button {
    background: transparent;
    border: none;
}
.sdm button i {
    color: var(--ash) !important;
    transition: color 0.33s linear;
}
/* Header ends here */
/* slider start */
.slider{
    background-image: url(../images/Nipro-Agency.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.s_content{
    margin: 205px 0;
}
.s_h1{
    font-family: var(--lato);
    font-size: 60px;
    font-weight: 700;
    color: var(--whi);
}
.s_p{
    margin: 45px 70px 55px 0;
    color: var(--whi);
    line-height: 30px;
}
.btn_cm{
    background-color: var(--whi);
    border-radius: 0;
    font-family: var(--robo);
    font-weight: 400;
    color: var(--bla);    
}
.btn_cm:hover{
    background-color: var(--bla);
    color: var(--whi);
    transition: all 0.33s linear;
}

.btn_slider{
    padding: 12px 39px;
}
.sl_btn{
    font-family: var(--robo);
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.23s linear;
}

.sl_p{}
.sl_n{}
.s {}
.s1{}
.s2{}
.s3{}
/* slider ends */
/* service start here */
.services{
    
}
.pb_100{
    padding-bottom: 100px;
}


.cm_title{
    text-align: center;
}

.cm_shape {
    width: 3px;
    height: 50px;
    background-color: var(--bla);
}
.cm_h1{
    margin: 25px 0 0 0;
    font-family: var(--lato);
    font-size: 40px;
    font-weight: 400;
    color: var(--bla);
    text-transform: uppercase;
}
.service_p {
    font-family: var(--robo);
    font-size: 20px;
    margin: 40px 0 0;
    line-height: 30px;
}

.ser_item{
    margin-top: 80px;
    border: 3px solid  var(--ash);
    padding: 0 10px 18px;
    transition: all 0.13s ease;
    
}
.ser_icon{
    margin: -20px auto 35px;
    background: var(--whi);
    width: 70px;
    
}
.ser_icon i{
    font-size: 60px;
    color: var(--ash);
    transition: 0.13s linear;
    
      
}
.ser_h2{
    font-family: var(--lato);
    font-size: 23px;
    font-weight: 700;
    color: var(--bla) ;
}
.ser_shape{
    margin: 20px auto;
    width: 50px;
    height: 1px;
    background-color: var(--ash);
}
.ser_p{
    font-size: 23px;
    color: var(--ash);
    line-height: 24px;
    
}
.ser_a{
    font-size: 23px;
    margin: 15px;
    display: inline-block;
    font-weight: 500;
    color: var(--ash);
    text-decoration: none;
    transition: 0.13s linear;
    
}
.ser_item:hover {
    border-color: var(--bla);
    
    
}

.ser_item:hover .ser_icon i {
    color: var(--bla);
    
}

.ser_item:hover .ser_a{
    color: var(--bla);
    
}
.ser_item:hover .ser_p {
    color: var(--bla);
    
}
/* service ends here */
/* about start here */
.about {
    margin-top: 100px;
}
.a_content:hover { 
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}
.a_img{
}

.a_img img{

}
.a_img:hover { 
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}

.a_h1{
    margin: 0 0 35px;
}
.a_p{
    line-height: 27px;
    margin-bottom: 25px;
}
.btn_about{
    padding: 12px 37px;
    border: 2px solid var(--bla);
}

/* about ends here */

/* Recent Work section start here */
.recent_work {
    margin-top: 100px;
    background-color: rgb(242, 242, 242);
}
.rw_control{
    margin: 65px 0 30px;
}
.items {
    margin-bottom: 20px;
}
.rw_control button{
    padding: 15px 10px;
    background-color: transparent;
    border: none;
    font-family: var(--robo);
    font-size: 20px;
    font-weight: 400;
    color: var(--ash);
    transition: color 0.23s linear, border 0.33s linear;
}
.rw_control button:hover {
    color: var(--bla);
    border: 2px solid var(--bla);
}
.wrapper {}
.cp30 {
    padding: 0 15px;
}
.card-content {
    position: absolute;
    background-color: black;
    bottom: 0;
    color: var(--whi);
    width: 100%;
    height: 20%;
    padding: 2.2rem;
    overflow: hidden;
    transition: 0.7s;
    cursor: pointer;
    
}
.card-content h1 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
}
.card-content p {
    font-size: 1rem;
    font-size: 400;
    line-height: 1.5rem;
    padding: 1rem;
}
.card-content:hover {
    height: 80%;
    transition: 0.7s;
}

.rw_item {
    margin-bottom: 30px;
    position: relative;
    
}   

/* Recent work ends here */
/* why choose us section start here */
.w_item {
    margin-top: 80px;
    padding: 0 20px;
    
}
.diamond {
    font-size: 
    48px;
    
}
hr {
    margin: 0 auto;
    width: 415px;
    height: 2px;
    background-color: var(--ash);
}
/* why choose us section ends here */